<div class="container">
    <div class="card">
        <div class="card-body-info">
            <div>
                <h1 class="card-title">{{user?.name}}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        @for(schedule of schedules; track schedule.id) {
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5>{{schedule.attraction.name}}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <strong>Fecha:</strong> {{schedule.start_time | date: 'dd/MM/yyyy'}}
                    </p>
                    <p class="card-text">
                        <strong>Inicio:</strong> {{schedule.start_time | date: 'HH:mm'}}
                    </p>
                    <p class="card-text">
                        <strong>Fin:</strong> {{schedule.end_time | date: 'HH:mm'}}
                    </p>
                    <div class="card-buttons">
                        @if(!schedule.comment) {
                        @if(usersService.isWhosLogged(user?.id)){

                        <button class="btn btn-outline-primary" (click)="viewCommentBox(schedule.id)">
                            Añadir comentario
                        </button>
                        }
                        } @else {
                        <button class="btn btn-outline-primary" [routerLink]="['/', schedule.id, 'comments']">
                            Ver comentarios
                        </button>
                        }
                        @if(usersService.isAdmin()) {
                        <button class="btn btn-outline-primary" [routerLink]="['/schedules', schedule.id]">Editar
                            horario</button>
                        <button class="btn btn-outline-danger"
                            (click)="deleteOnClick(schedule.attraction.name, schedule.id!)">
                            Eliminar horario
                        </button>
                        }
                    </div>
                </div>
            </div>
        </div>
        }
        @if(user?.role === 'admin') {
        <button class="btn btn-info" [routerLink]="['/schedules', 'create']">Añadir horario</button>
        }
    </div>
    <app-new-comment [class]="{ textArea: commentBox, ntextArea: !commentBox }" [scheduleId]="dynamicScheduleId"
        [userId]="userId" (close)="hiddeCommentBox()" (addedComment)="updateComments()"></app-new-comment>
    
</div>