<div class="container">
    <div class="card">
        <div class="card-body-info">
            <div>
                <h1 class="card-title">{{user?.name}}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        @for(schedule of schedules; track schedule.id) {
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5>{{schedule.attraction.name}}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <strong>Fecha:</strong> {{schedule.start_time | date: 'dd/MM/yyyy'}}
                    </p>
                    <p class="card-text">
                        <strong>Inicio:</strong> {{schedule.start_time | date: 'HH:mm'}}
                    </p>
                    <p class="card-text">
                        <strong>Fin:</strong> {{schedule.end_time | date: 'HH:mm'}}
                    </p>
                    <div class="card-buttons">
                        <button class="btn btn-outline-primary" [routerLink]="['/', schedule.id, 'comments']">
                            Ver comentarios
                        </button>
                        @if(!schedule.comment) {
                            <button class="btn btn-outline-primary" (click)="addComment()">
                                Añadir comentario
                            </button>
                        } @else {
                            <button class="btn btn-outline-primary" (click)="editComment()">
                                Editar comentario
                            </button>
                        }
                        <button class="btn btn-outline-danger"
                            (click)="deleteOnClick(schedule.attraction.name, schedule.id!)">
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>