nav {
    padding: 1rem 0;
    background-color: white;

}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
    padding: 0;

}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    margin: 0 1.5rem;
    color: #36ccb6;
    cursor: pointer;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #f7b607;
    transform: scale(1.1);
}

nav ul li a.active {
    transition: 0.3s;
    color: #f7b607;
    border-bottom: 2px solid #36ccb6;
    padding-bottom: 0.2rem;
}