<nav>
    <ul>
        <li>
            <a [routerLink]="['/main']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        @if(usersService.isLogged()) {
            <li>
                <a [routerLink]="['/attractions']" routerLinkActive="active">Atracciones</a>
            </li>
            <li>
                <a [routerLink]="['/users']" routerLinkActive="active">Personal</a>
            </li>
        }
        @if(!usersService.isLogged()) {

            <li>
                <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
            </li>
        }
        <!-- <li>
            <a [routerLink]="['']" routerLinkActive="active">Comentarios</a>
        </li> -->
        @if(usersService.isLogged()) {
            <li (click)="onClickLogout()">
                <a class="logout-link">Logout</a>
            </li>
        }
    </ul>
</nav>