nav {
    padding: 1rem 0;
    background-color: white;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    margin: 0 1.5rem;
    color: #36ccb6;
    cursor: pointer;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #f7b607;
    transform: scale(1.1);
}

nav ul li a.active {
    transition: 0.3s;
    color: #f7b607;
    border-bottom: 2px solid #36ccb6;
    padding-bottom: 0.2rem;
}

.navbar-toggler {
    border-color: #36ccb6;
}

@media (min-width: 992px) {
    .navbar-collapse {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navbar-nav {
        justify-content: center;
        margin: 0;
    }

    .navbar-nav li {
        margin: 0 1.5rem;
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar-nav li {
        margin: 0.5rem 0;
    }
}