<nav>
    <ul>
        <li>
            <a [routerLink]="['/main']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li>
            <a [routerLink]="['/attractions']" routerLinkActive="active">Atracciones</a>
        </li>
        <li>
            <a [routerLink]="['/users']" routerLinkActive="active">Personal</a>
        </li>
        <li>
            <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
        </li>
        <li>
            <a [routerLink]="['/register']" routerLinkActive="active">Registro</a>
        </li>
        <li (click)="onClickLogout()">
            <a class="logout-link">Logout</a>
        </li>
    </ul>
</nav>