<div>
    <h2>Nueva Atracción</h2>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div>
            <label class="form-label"></label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div>
            <label class="form-label"></label>
            <input type="text" class="form-control" formControlName="capacity">
        </div>
        <div>
            <label class="form-label"></label>
            <input type="text" class="form-control" formControlName="min_height">
        </div>
        <div>
            <label class="form-label"></label>
            <input type="text" class="form-control" formControlName="average_duration">
        </div>
        <div>
            <label class="form-label"></label>
            <input type="text" class="form-control" formControlName="wait_time">
        </div>
        <div class="functionalSwitch">
            <label class="switch">
                <input type="checkbox" formControlName="functional">
                <span class="slider round"></span>
            </label>
            
            <div>
                <input type="submit" value="Crear" class="btn btn-success">
                <button class="btn btn-secondary" [routerLink]="['/attractions']">Cancelar</button>
            </div>
        </div>


    </form>
</div>

<div class="errores">
    @for(err of arrErrors; track $index) {
        <p>{{err.message}}</p>
    }
</div>