@if(attraction) {
    <div class="card">
        <figure [routerLink]="['details', attraction.id]">
            <div class="img-container">
                <div class="img" [style.background-image]="'url(' + imageUrl + '/' + attraction.image + ')'">
                    <!-- <img [src]="imageUrl + '/' + attraction.image" alt=""> -->
                </div>
            </div>
        </figure>
        <div>
            <h2>{{attraction.name}}</h2>
            <p [class]="{ working: attraction.functional, nWorking: !attraction.functional }">
                {{attraction.functional ? 'Working' : 'Disabled'}}
            </p>
        </div>
    </div>
}

