form {
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff5e;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
}

.background {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
}

h2 {
    font-size: 2rem;
    color: #36ccb6;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

label.form-label {
    font-size: 1rem;
    color: #333333;
    margin-bottom: 0.5rem;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 0.375rem;
    font-size: 1rem;
    color: #333333;
    background-color: #f9f9f9;
    margin-bottom: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="file"]:focus {
    outline: none;
    border-color: #36ccb6;
    box-shadow: 0 0 0.25rem rgba(54, 204, 182, 0.5);
}

input[type="submit"] {
    background-color: #36ccb6;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2ba69c;
    box-shadow: 0 0.375rem 0.75rem rgba(54, 204, 182, 0.3);
}

button.btn-secondary {
    background-color: #f7b607;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button.btn-secondary:hover {
    background-color: #e6a806;
    box-shadow: 0 0.375rem 0.75rem rgba(247, 182, 7, 0.3);
}

.functionalSwitch {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

input:checked+.slider {
    background-color: #36ccb6;
}

input:checked+.slider:before {
    transform: translateX(1.5rem);
}

.errores p {
    color: #f44336;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    font-weight: bold;
    text-align: center;
}

.functionalSwitch {
    display: flex;

    .submit {
        width: 80%;
        display: flex;
        justify-content: right;
        gap: 1rem;
    }
}