form {
    border: 5px solid black;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;

    textarea {
        display: block;
        padding: 5px;
        outline: none;
        border: none;
    }

    div {
        display: flex;
        justify-content: space-evenly;
    }
}