@if(user) {

<div class="d-flex justify-content-center align-items-center vh-100 ">
    <div class="background">
        <div class="card p-4 shadow-lg rounded" style="width: 24rem; border: none;">
            <div class="card-body text-center">
                <h5 class="card-title mb-4">Información del Usuario</h5>
                <p class="card-text mb-3"><strong>Nombre:</strong> {{ user.name }}</p>
                <p class="card-text mb-3"><strong>Apellidos:</strong> {{ user.surnames }}</p>
                <p class="card-text mb-3"><strong>Email:</strong> {{ user.email }}</p>
            </div>
            <div id="buttons" class="card-footer d-flex justify-content-around mt-3 bg-white border-top-0">
                @if(user.role === 'worker'){
                <div class="schedule-button">
                    <button class="btn btn-primary" [routerLink]="['/', user.id, 'schedules']">Horarios</button>
                </div>
                }

                @if(user.role === 'admin' && userServices.isAdmin()){

                <div class="schedule-button">
                    <button class="btn btn-primary" [routerLink]="['/', 'schedules', 'create']">Añadir horarios</button>
                </div>
                }

                @if(userServices.isWhosLogged(user.id) || userServices.isAdmin()){
                <button class="btn btn-primary" [routerLink]="['/users', 'edit', user.id]">Modificar</button>
                }
                @if(userServices.isAdmin()){
                <div class="edit-buttons">

                    <div class="delete-button"><button class="btn btn-outline-danger"
                            (click)="deleteUser(userId)">Eliminar usuario</button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

}