.container {
    max-width: 50rem;
    margin: 1.25rem auto;
    padding: 1.25rem;
    background-color: #ffffff5e;
    border: 0.0625rem solid #e0e0e0;
    border-radius: 0.625rem;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.custom-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #36ccb6;
    margin-bottom: 1.5rem;
    text-align: center;
}

.container input[type="date"] {
    display: block;
    width: 100%;
    max-width: 25rem;
    margin: 0 auto 1.25rem;
    padding: 0.625rem 0.9375rem;
    border: 0.0625rem solid #36ccb6;
    border-radius: 0.3125rem;
    font-size: 1rem;
    color: #333333;
    background-color: #f9f9f9;
    box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.container input[type="date"]:focus {
    outline: none;
    border-color: #f7b607;
    box-shadow: 0rem 0rem 0.375rem rgba(247, 182, 7, 0.5);
}

app-comment {
    display: block;
    margin-bottom: 0.9375rem;
    padding: 0.9375rem;
    border: 0.0625rem solid #36ccb6;
    border-radius: 0.5rem;
    background-color: #f7f7f7;
    box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

app-comment:hover {
    background-color: #fdfdfd;
    border-color: #f7b607;
    transition: 0.3s ease;
}

.comment-card {
    border: 0.0625rem solid #36ccb6;
    border-radius: 0.5rem;
    padding: 0.9375rem;
    background-color: #f7f7f7;
    align-content: center;

}

.text-comment {
    margin-top: 1rem;
    text-align: center;
}