.custom-container {
    margin-top: 3rem;
    /*    padding: 3rem; */
    background-color: #ffffff5e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #36ccb6;
    margin-bottom: 1.5rem;
    text-align: center;
}

.custom-subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: #12312a;
    margin-bottom: 1.5rem;
    text-align: center;
}

.custom-staff {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.custom-card {
    width: 18rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card-body {
    padding: 2rem;
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #12312a;
    margin-bottom: 1rem;
}

.card-email {
    font-size: 1.1rem;
    font-weight: bold;
    color: #36ccb6;
}

.card-text {
    color: #6c757d;
    margin-bottom: 1.5rem;
}

.custom-btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #f7b607;
    color: #12312a;
    border: 2px solid #f7b607;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-btn:hover {
    background-color: #36ccb6;
    color: white;
    border-color: #36ccb6;
}