<div class="container">
    <h1 class="my-5 text-center">Staff</h1>
    <h2 class="my-5 text-center">Admins</h2>
    <div class="staff d-flex justify-content-center flex-wrap gap-3">
        @for (staff of allStaff; track staff.id) {
        @if(staff.role === 'admin') {
        <div class="card text-center p-4" style="width: 18rem;" [routerLink]="[staff.id]">
            <h4 class=" mt-3 mb-4">{{staff.name}} {{staff.surnames}}</h4>
            <p><b>Email</b></p>
            <p>{{staff.email}}</p>
        </div>
        }
        }

    </div>
    <h2 class="my-5 text-center">Workers</h2>
    <div class="staff d-flex justify-content-center flex-wrap gap-3">
        @for (staff of allStaff; track staff.id) {
        @if(staff.role === 'worker') {
        <div class="card text-center p-4" style="width: 18rem;" [routerLink]="[staff.id]">
            <h4 class="mt-3 mb-4">{{staff.name}} {{staff.surnames}}</h4>
            <p><b>Email</b></p>
            <p>{{staff.email}}</p>
        </div>
        }
        }
    </div>