<div class="custom-container">
    <div class="background-custom">
        <h1 class="text-center custom-title">Equipo ID Boot <span>Park</span></h1>
    </div>
    <div class="background">
        <h2 class="text-center custom-subtitle">Administradores</h2>
        <div class="staff custom-staff">
            @for (staff of allStaff; track staff.id) {
            @if(staff.role === 'admin') {
            <div class="card custom-card">
                <div class="card-body">
                    <h4 class="card-title">{{staff.name}} {{staff.surnames}}</h4>
                    <p class="card-email"><b>Email:</b></p>
                    <p class="card-text">{{staff.email}}</p>
                    <a class="custom-btn" [routerLink]="[staff.id]">Ver Detalles</a>
                </div>
            </div>
            }
            }
        </div>
    </div>

    <div class="background">
        <h2 class="text-center custom-subtitle">Trabajadores</h2>
        <div class="staff custom-staff">
            @for (staff of allStaff; track staff.id) {
            @if(staff.role === 'worker') {
            <div class="card custom-card">
                <div class="card-body">
                    <h4 class="card-title">{{staff.name}} {{staff.surnames}}</h4>
                    <p class="card-email"><b>Email:</b></p>
                    <p class="card-text">{{staff.email}}</p>
                    <a class="custom-btn" [routerLink]="[staff.id]">Ver Detalles</a>
                </div>
            </div>
            }
            }
        </div>
    </div>
</div>