<div class="container col-lg-5 col-md-8 col-sm-10 mt-5 p-4 rounded shadow-lg">
    <div class="background">
        <h1 class=" text-center mb-4">Registro de Usuario</h1>
        <form [formGroup]="refForm" (ngSubmit)="register()">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" id="name" class="form-control" formControlName="name"
                    placeholder="Ingresa tu nombre">
            </div>
            <div class="mb-3">
                <label for="surnames" class="form-label">Apellidos</label>
                <input type="text" id="surnames" class="form-control" formControlName="surnames"
                    placeholder="Ingresa tus apellidos">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email"
                    placeholder="correo@ejemplo.com">
                @if(refForm.get('email')?.errors?.['pattern']) {
                <p class="text-danger"><small>El campo email es incorrecto.</small></p>
                }
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" class="form-control" formControlName="password"
                    placeholder="Ingresa tu contraseña">
                @if(refForm.get('password')?.errors?.['minlength']) {
                <p class="text-danger"><small>La contraseña debe tener más de 6 caracteres.</small></p>
                }
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword"
                    placeholder="Confirma tu contraseña">
                @if (refForm.get('password')?.value !== refForm.get('confirmPassword')?.value) {
                <p class="text-danger"><small>Las contraseñas no coinciden.</small></p>
                }
            </div>
            <div class="d-grid">
                <input type="submit" class="btn btn-primary" value="Registrar">
            </div>
        </form>
    </div>
</div>