/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Poppins', sans-serif;
    background: url('../public/images/noria_grande.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;

}