img {
    width: 100%;
    height: auto;
    display: block;
}

figure {
    width: 800px;
    
}

span {

    .working {
            color: black;
            background-color: rgb(62, 202, 62);
        }
    
        .nWorking {
            background-color: rgb(240, 63, 63);
        }
}